body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(20, 24, 30);
    color: #ddd;
}

/* ----- Navigation ----- */

.navbar-dark .navbar-toggler{
    border: none;
}

.navbar{
    background-color: rgb(10,15,20);
    border-bottom: 1px solid rgb(50,55,60);
    padding-bottom: 6px;
}

.nav-link{
    color: #fff;
}

.navbar-collapse{
    flex-grow: 0;
}

/* Cards */

.card {
    margin-bottom: 20px;
    color: white;
    border: 1px solid rgb(106, 106, 106);
}

.post-title {
    margin: 0;
    font-size: 16px;
}

.card-header {
    padding-left: 12px;
    padding-bottom: 7px;
    background-color: rgb(10,15,20);
}

.card-body{
    padding: 12px;
    background-color: rgb(30, 34, 40);
}

p {
    margin-bottom: 8px;
}

p.date { 
    color:#aaa;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 8px;
}

/* Extra */

.comment {
    border: 1px solid black;
    margin-bottom: 2px;
}

a { 
    color:rgb(180, 113, 113);
    text-decoration:none; 
}

h2 {
    font-weight:normal;
}


